@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* header */
header {
  background-color: #3a3d46;
}
.navbar {
  margin: 0 auto;
  max-width: 1200px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  color: #fff;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.menu li {
  list-style-type: none;
  padding-left: 30px;
}
.menu li:first-child {
  background-color: #007dfc;
  line-height: 14px;
  border-radius: 4px;
  padding: 8px 10px 8px 9px;
}
.navbar img {
  width: 151px;
  height: 30px;
}

/* First section */

.main {
  background-color: #232323;
}
.main-container {
  display: grid;
  grid-template-columns: 610px 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 630px;
}

.txt-main-container {
  width: 463px;
  height: 327px;
  display: flex;
  flex-direction: column;
}
.txt-main-container h1 {
  font-size: 65px;
  line-height: 65px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.txt-main-container h1 span {
  color: #ffb800;
}
.txt-main-container h2 {
  font-weight: 800;
  color: #007dfc;
  font-size: 26px;
  line-height: 26px;
  text-transform: capitalize;
  letter-spacing: 1.04px;
  margin-top: 22px;
  margin-bottom: 23px;
}
.txt-main-container p {
  color: #ffffff;
  line-height: 20.88px;
  font-size: 16px;
  margin: 22px 0px 33px 0px;
  padding-right: 76px;
}
hr {
  border-top: 1px solid #949494;
  width: 463px;
}

.main-container img {
  width: 590px;
  height: 590px;
}

button {
  background-color: #ffb800;
  border-radius: 45px;
  padding: 10px 27px 10px 27px;
  width: 141px;
}
button a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  line-height: 20.88px;
  font-weight: 400;
}
/* second section*/
.second {
  background-color: #f6f6f6;
  padding-top: 82px;
  padding-bottom: 95px;
}

.second-container {
  margin: 0 auto;
  max-width: 1200px;
}

.second-container h2 {
  font-size: 28px;
  line-height: 35.54px;
  font-weight: 400;
}
.second-container hr {
  width: 145px;
  border-top: 1px solid black;
  margin-left: 48px;
  margin-bottom: 50px;
}
.grid-images {
  display: grid;
  grid-template-areas: 
    " image-1 image-2 image-4"
     "image-1 image-3 image-5";
}

#image-1{
    grid-area: image-1;
}
#image-2{
    grid-area: image-2;
}
#image-3{
    grid-area: image-3;
}
#image-4{
    grid-area: image-4;
}
#image-5{
    grid-area: image-5;
}